/* Custom Webrin styles */

/*site-branding*/
.site-branding__text h1, .site-branding__text h1 a, .site-branding__text h2, .site-branding__text h2 a{
  color: var(--color--white);
  font-family: metropolis, sans-serif;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 2rem;
  line-height: var(--sp2);
  margin: 0;
  padding: 0;
  margin-block: 0;
}
.site-branding--bg-white .site-branding__text h1, .site-branding--bg-white .site-branding__text h1 a, .site-branding--bg-white .site-branding__text h2, .site-branding--bg-white .site-branding__text h2 a{color: inherit;}
.site-branding--bg-gray .site-branding__text h1, .site-branding--bg-gray .site-branding__text h1 a, .site-branding--bg-gray .site-branding__text h2, .site-branding--bg-gray .site-branding__text h2 a{color: inherit;}

/* tweaks */
.region > *:where(:not([data-big-pipe-placeholder-id])) {
  margin-block-end: var(--sp1);
}

.node--view-mode-full .field--tags {
  margin-block-start: var(--sp1);
  margin-block-end: var(--sp1);
}
img{
  border-radius: 5px;
}
.node img{
  margin: 0.5rem 0;
}

.teaser {
  padding-block-end: var(--sp1);
}
.teaser__title {
	font-size: var(--sp2);
	line-height: var(--sp2-5);
}
.node__meta {
  margin-block-end: var(--sp1);
}
.node--view-mode-full .node__content ul.links.inline li:first-child a{
  font-weight: 800;
}
.comments__title {
    font-size: var(--sp2);
}
.view, .view-content, .teaser__content {
  gap: var(--sp0-5);
}
.block-page-title-block {margin-block-end: var(--sp0-25);}
.site-footer .block-block-content p {font-size: var(--sp0-75); line-height: var(--sp1);}
@media (min-width: 43.75rem) {
  .sidebar-grid .region--sidebar {
    /* grid-column: 2 / 14; #@# bigger sidebar */
  }
  .main-content__container {
    padding-block-start: var(--sp1);
  }
  .wide-content{margin-block: var(--sp0-25) var(--sp0-5);}
  h1.page-title {
    font-size: var(--sp2);
    line-height: var(--sp3);
  }
}

@media (min-width: 62.5rem) {
  .sidebar-grid > .site-main {
    grid-column: 2 / 11;
  }
  .region--sidebar {
    position: sticky;
    top: 2rem;  /* Adjust to avoid overlapping your header */
    align-self: start;
  }
  .sidebar-grid .region--sidebar {
    /* grid-column: 11 / 15; #@# bigger sidebar */
  }
  .layout--content-medium, .layout--pass--content-medium > * {
	grid-column: 1 / 15;
  }
  .node__content {
    padding-block-end: var(--sp2);
  }
}

@media (min-width: 75rem) {
  .site-footer__inner {
    padding-block: var(--sp2);
  }
}
